<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="shortcut icon" href="/gitout/favicon.ico?v={{ substr (readFile "static/gitout/favicon.ico" | sha1) 0 7 }}">

  <link href="{{ .Site.Params.blogrss }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{ if eq .Kind "taxonomy" }}
  <meta name="robots" content="noindex,follow" />
  {{ end }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantarell|Fira+Mono">
  <link rel="stylesheet" href="/css/style.css?v={{ substr (readFile "static/css/style.css" | sha1) 0 7 }}">
</head>
<body>

  <div class="headbar">
    <a href="/"><img src="/gitout/favicon.ico" alt="Home" class="home"></a>
    <span class="name">Vivek Verma</span>
    <div class="nav">
      {{ range .Site.Menus.top }}
        <a class="link" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      {{ partial "search.html" . }}
    </div>
  </div>

  {{ block "body" . }}{{ end }}

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="/js/script.js?v={{ substr (readFile "static/js/script.js" | sha1) 0 7 }}"></script>
</body>
</html>
