{{ define "title" }}
{{ if eq .Section "blog" }}2vek's {{ .Section }}{{ end }}
{{ if eq .Kind "taxonomy" }}{{ .Title }} | 2vek's {{ .Section }}{{ end }}
{{ end }}

{{ define "body" }}

<div class="listing">

  {{ if eq .Kind "taxonomy" }}
    <p class="filter">
      <a class="filter-type" href="/{{ .Data.Plural }}/">Tags</a>:
      <span class="filter-item">{{ .Title }}</span>
    </p>
  {{ end }}

  {{ range .Data.Pages.GroupByDate "Jan 2006" }}
    <p class="month">{{ .Key }}</p>
    {{ range .Pages }}
      <p class="list-item">
        <a href="{{ .URL }}">{{ .Title }}</a>
      </p>
    {{ end }}
  {{ end }}
</div>

{{ end }}
