{{ define "title" }}{{ .Title }} | 2vek's {{ .Section }}{{ end }}

{{ define "body" }}

<div class="post">
  <h1 class="title">{{ .Title }}</h1>
  <time class="posted" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
  <div class="content">
    {{ .Content }}
  </div>
  <p class="tags">Tags:
    {{ range .Params.tags }}
      <a class="tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  </p>
  <p class="subscribe"><a href="/feed.xml">Subscribe to Blog Feed</a></p>

  {{ if eq .Section "blog" }}
    {{ partial "comment.html" . }}
  {{ end }}
</div>

{{ end }}
