{{ define "title" }}
2vek's {{ .Title }}
{{ end }}

{{ define "body" }}

<div class="terms">
  {{ $data := .Data }}
  <p class="term-cloud">
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      <a class="term" href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">
        {{ $value.Name }}
      </a>
    {{ end }}
  </p>
</div>

{{ end }}
