$headbar-font-size: 1.5em;

.headbar {
  @extend %container;

  .home {
    @extend %align-middle;
    width: $headbar-font-size;
    margin-right: 0.5em;
  }

  .name {
    font-size: $headbar-font-size;
    @extend %align-middle;
    color: dimgrey;
  }

  .nav {
    @extend %align-middle;
    float: right;

    .link {
      @extend %align-middle;
      font-size: 1.3em;
      padding-top: 0.1em;
      text-decoration: none;
      color: darkslategray;
      text-transform: uppercase;
      margin: 0 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }

    .search {
      height: $headbar-font-size;
      vertical-align: text-bottom;
      margin-left: 0.5em;
    }
  }
}
