.home-about {
  @extend %container;
  min-height: 9em;

  .avatar {
    filter: brightness(110%);
    width: 8em;
    border-radius: 0.25em;
    margin-right: 1em;
    float: left;
  }

  p {
    color: darkslategrey;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0.5em 0;

    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}