.home-projects {
  @extend %container;

  .home-title {
    margin: 0;
    font-size: 1.33em;
    text-transform: uppercase;
    color: slategray;
  }

  .project-item {
    margin-top: 1em ;
    clear: both;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    img {
      width: 3em;
      float: left;
      margin-right: 1em;
    }

    .title {
      margin: 0;

      a {
        color: darkslategray;
      }
    }

    .desc {
      margin: 0.5em;
    }
  }
}