.listing {
  @extend %container;

  .filter {
    margin-bottom: 0;

    .filter-type {
      @extend %plain-link;
      text-decoration: underline dashed grey;
    }
    .filter-item {
      text-transform: captialize;
    }
  }

  .month {
    text-transform: uppercase;
    font-size: 1.1em;
    color: dimgrey;
    margin: 0.5em 0;
  }
  .month:not(:first-child) {
    margin-top: 1em;
  }

  .list-item {
    margin: 0.5em 0;

    a {
      @extend %plain-link;
      text-decoration: underline lightgrey;
    }
  }
}
