.post {
  @extend %container;

  .title {
    margin: 0;
    font-weight: normal;
    font-size: 1.67em;
  }

  .posted {
    display: block;
    color: dimgray;
    padding-left: 0.2em;
  }

  .content {
    margin-top: 1em;

    &:after {
      display: block;
      content: '◼';
      color: dimgrey;
      margin: 1.5em 0;
    }

    p {
      line-height: 1.5em;
      font-size: 1.1em;
    }

    h2, h3 {
      font-weight: normal;
    }

    a {
      text-decoration: underline dimgrey;
      color: inherit;
    }

    code {
      font-family: $font_mono, monospace;
      font-size: 1.1em;
    }
  }

  .tags {
    margin: 0;

    .tag {
      @extend %plain-link;
      text-transform: capitalize;
      text-decoration: underline dashed grey;
      margin-right: 0.3em;

      &:first-child {
        margin-left: 0.3em;
      }

      &:not(:last-child):after {
        content: ',';
      }
    }
  }

  .subscribe a {
    color: slateblue;
    margin-bottom: 0;
  }

  .comments {
    margin-top: 1.5em;
  }
}
