.search {
  @extend %align-middle;
  input[name="q"] {
    @extend %align-middle;
    @include ionico('md-search');
    border: 1px solid gray;
    border-radius: 0.2em;
    color: transparent;

    &:focus {
      width: 5em;
      background-image: none;
      color: black;
    }

    vertical-align: -webkit-baseline-middle;
    &::-webkit-input-placeholder { padding-left: 0.2em }
  }
  input[type="submit"] {
    position: absolute;
    left: -9999px;
  }
}
