.terms {
  @extend %container;

  .term-cloud {
    margin: 3em 120px;
    text-align: center;
    line-height: 2em;
  }

  .term {
    @extend %plain-link;
    text-transform: capitalize;
    text-decoration: underline dashed grey;
    margin-right: 1em;
  }
}
