html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

$font_mono: 'Fira Mono';
$font_sans1: 'Cantarell';

body {
  font-family: $font_sans1, sans-serif;
}

$width_min: 32rem;
$width_max: 45rem;

@mixin desktop {
  @media (min-width: #{$width_max}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$width_min}) {
    @content;
  }
}

%container {
  padding: 0.5em;
  background-color: ghostwhite;
  margin: 0.5em;

  @include desktop {
    width: $width_max;
    margin: 1em;
  }
}

$color_skyblue: #B7E3F5;
$color_darkblue: #005073;
$color_darkgreen: #00605C;
$color_lightgrey: #E6E6DC;

%align-middle {
  display: inline-block;
  vertical-align: middle;
}

%plain-link {
  text-decoration: none;
  color: black;
}

@import 'icons';
@import 'search';
@import 'home-about';
@import 'home-projects';
@import 'headbar';
@import 'listing';
@import 'post';
@import 'four';
@import 'terms';
