<form class="search" target="_blank" method="get" action="https://duckduckgo.com/">
  <input type="hidden" name="sites" value="2vek.com">
  <input type="hidden" name="kt" value="n">  <!-- font: sans-serif -->
  <input type="hidden" name="kz" value="-1"> <!-- instant-ans: off -->
  <input type="hidden" name="kf" value="1">  <!-- only show favicon -->
  <input type="hidden" name="kd" value="-1"> <!-- disable redirects -->
  <input type="hidden" name="kj" value="#f8f8ff"> <!-- header background -->
  <input type="hidden" name="k9" value="#3b3b3b"> <!-- Links text color -->
  <input type="hidden" name="ky" value="#f8f8ff"> <!-- highlight on hover -->
  <input maxlength="255" name="q">
  <input type="submit" value="search site">
</form>
