{{ define "body" }}

  <div class="home-about">
    <img class="avatar" src="/gitout/vv.png" alt="Vivek Verma">
    <p>
      Hi, I am Vivek Verma, a full stack Web Developer based in Ghaziabad, India.
      Currently working as freelancer.
    </p>
    <p>
      I am experienced with all phases of the web development life cycle.
    </p>
    <p>Always looking for new work opportunities.</p>
  </div>

  <div class="home-projects">
    <h2 class="home-title">Side Projects</h2>
    {{ range .Site.Data.Projects.item }}
    <div class="project-item">
      <img src="{{ .img }}">
      <h3 class="title"><a href="{{ .link }}">{{ .title }}</a></h3>
      <p class="desc">{{ .desc }}</p>
    </div>
    {{ end }}
  </div>

{{ end }}